<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="main-content">

        {{>header}}
        <h2>My name is {{name}}</h2>
        <p>Weather Application using NodeJS as Backend programming language and using Mapbox as API data Weather</p>

        <img class="potrait" src="./img/vans.png" alt="">

    </div>
    {{>footer}}
</body>

</html>