<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Weather application for Node JS Course using API from server side</p>
        <label for="">Created by : {{title}} {{name}}</label>

        <form  >
            <input type="text" style="" placeholder="Location">
            <button style="">Search</button>
        </form>

        <p id="location"></p>
        <p id="forecast"></p>
    </div>

    {{>footer}}
    
    <script src="./js/app.js"></script>
</body>

</html>